<nav class="nav-extended blue-grey darken-4">
  <div class="nav-wrapper container">
    <a href="#!" class="brand-logo uk-text-bold">PAY-VOUCHER</a>
    <ul class="right hide-on-med-and-down">
      <li class="navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="navbar-link"
          routerLink="/home">Dashboard</a></li>
      <li class="navbar-link" routerLinkActive="active"><a class="navbar-link" routerLink="/profile">Profile</a></li>
      <li class="navbar-link" routerLinkActive="active"><a class="navbar-link" routerLink="/pricing">Pricing</a></li>
      <li class="navbar-link" routerLinkActive="active"><a class="navbar-link" routerLink="/features">Features</a></li>
      <li class="navbar-link" routerLinkActive="active"><a class="navbar-link" routerLink="/logout">Logout</a></li>
    </ul>
  </div>
  <div class="nav-content container">
    <br>
    <br>
    <br>
    <a class="btn-floating nav btn-large halfway-fab waves-effect waves-light green accent-4 uk-box-shadow-hover-xlarge"
      routerLink="/addv">
      <i class="fa fa-plus"></i>
    </a>
  </div>
</nav>
