li.active {
  color: #00c853 !important;
  border-bottom: 6px solid #00c853 !important;
  padding-bottom: 1% !important;
}

.navbar-link:hover {
  background-color: white;
  color: #263238;
  font-weight: bolder;
}

.collection {
  margin-top: 20%;
}

.collection-item1 {
  color: #263238;
  text-transform: uppercase;
  font-weight: bolder
}

nav {
  margin-bottom: 4%;
}

/* .active {
  border-bottom: 2px soild white;
  font-weight: bolder;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
} */
/* .uk-background {
  background: url("../../assets/public/image/loginimg.jpg") no-repeat center fixed;
  background-size: cover;
  background-attachment: fixed;
  height: 40vh
} */
#user {
  padding-top: 50vh;
}

.navbar-link {
  font-weight: bolder;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

a:link {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}
