<footer class="page-footer blue-grey darken-4" uk-sticky="bottom: true">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="green-text accent-4 uk-text-bold">PAY-VOUCHER</h5>
        <p class="grey-text text-lighten-4">Pay-Voucher is a system that allows you access and purchase newly found
          vouchers and even redeem them for cash, its quick and easy to use, stressfree signup and a state of the art
          team</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="uk-text-bold green-text accent-4">Quick Navigation</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="pricing">Pricing</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="features">Features</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright Pay-Voucher
      <span class="grey-text text-lighten-4 right">Designed By <a href="https://www.laozofficial.com.ng" class="uk-text-bold uk-text-capitalize green-text accent-4">Laoz
          Ellison</a></span>
    </div>
  </div>
</footer>
