.login {
  margin-top: 10%;
}

.html {
  background: url("../../assets/public/image/loginimg.jpg") no-repeat center fixed;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh
}

.submitbtn {
  
}

/* 
.text-danger {
  color: darkred !important;
} */
.btn-danger {
  padding-left: 96px;
  padding-right: 90px;
  padding-right: 40%;
  text-align: center;
  align-items: center;
  align-self: center;
  padding-left: 40%
}

.text-muted {
  color: lightgrey;
  font-weight: lighter;
}

.card-panel1 {
  width: 40%;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s,
    -webkit-box-shadow .25s;
}

/* label color */
.input-field label {
  color: #00c853 !important;
}

/* label focus color */
.input-field input[type=text]:focus+label {
  color: #00c853 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #00c853 !important;
  box-shadow: 0 1px 0 0 #00c853 !important;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #00c853 !important;
  box-shadow: 0 1px 0 0 #00c853 !important;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #00c853 !important;
  box-shadow: 0 1px 0 0 #00c853 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #00c853 !important;
}
