<div class="html">
  <div class="uk-container uk-continer-small ">
    <div class="login" style="float: center">

      <div class="card-panel z-depth-5 card-panel1 hoverable uk-align-center blue-grey darken-4">
        <div class="card-panel blue-grey darken-4"> 
          <h3 class="flow-text uk-text-bold uk-text-center white-text">
            PAY-VOUCHER
            <span class="green-text accent-4">LOGIN</span>
          </h3>

        </div>
        <!-- <a href="" class="btn-danger blue accent-4 white-text uk-align-center waves-effect waves-light btn uk-margin-small-right"
          uk-icon="twitter"></a>
        <a href="" class=" btn-danger uk-align-center waves-effect waves-light btn uk-margin-small-right" uk-icon="facebook"></a>
        <a href="" class="btn-danger uk-align-center waves-effect waves-light btn " uk-icon="google-plus"></a> -->
        <div class="row center-align">
          <div class="input-field col s12">
            <input [(ngModel)]="Firstname" id="first_name2" type="text" class="validate">
            <label class="active flow-text" for="first_name2">Username</label>
          </div>
        </div>
        <div class="row center-align">
          <div class="input-field col s12">
            <input [(ngModel)]="password" id="Password" type="text" class="validate">
            <label class="active flow-text" for="Password">Password</label>
          </div>
        </div>
        <div class="uk-align-center uk-text-center">
          <button class="btn btn-danger waves-effect waves-light uk-align-center center-align submitbtn green accent-4"
            routerLink="/home">SUBMIT</button>
        </div>

      </div>

    </div>
  </div>
</div>
