.html {
  background: url("../../assets/public/image/loginimg.jpg") no-repeat center fixed;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh
}

/* label color */
.input-field label {
  color: #00c853 !important;
}

/* label focus color */
.input-field input[type=text]:focus+label {
  color: #00c853 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #00c853 !important;
  box-shadow: 0 1px 0 0 #00c853 !important;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #00c853 !important;
  box-shadow: 0 1px 0 0 #00c853 !important;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #00c853 !important;
  box-shadow: 0 1px 0 0 #00c853 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #00c853 !important;
}
