<app-header></app-header>

<div class="tml" style="padding-top: 5%;">
  <div class="uk-container uk-container-small">
    <div class="uk-align-center">
      <div class="row" [hidden]="cardshit">
        <div class="input-field col s6">
          <input id="CardName" type="text" class="validate">
          <label class="active" for="CardName">Card Name</label>
        </div>
      </div>
      <div class="row" [hidden]="cardshit">
        <div class="input-field col s6">
          <input id="CardNumber" type="text" class="validate">
          <label class="active" for="CardNumber">Card Number</label>
        </div>
      </div>
      <div class="row" [hidden]="cardshit">
        <div class="input-field col s6">
          <input id="CVV" type="text" class="validate">
          <label class="active" for="CVV">CVV</label>
        </div>
      </div>
      <button class="btn green accent-4" (click)="submit()" [hidden]="cardshit">Submit</button>
      <p class="grey-text" [hidden]="message"><i>Request has been sent </i></p>
      <div class="row" [hidden]="otp">
        <div class="input-field col s6">
          <input id="InputOTP" type="text" class="validate">
          <label class="active" for="InputOTP">Input OTP</label>
        </div>
        <button class="btn green accent-4" (click)="pay()">Pay</button>
      </div>

    </div>
  </div>
</div>
