<app-header></app-header>
<!-- <div class="html">
  <div class="container ">
    <h2 class="uk-text-center uk-text-uppercase flow-text uk-text-bold blue-grey-text darken-4">Purchase {{
      payment.name }}
      Voucher </h2>
    <div>
      <div class="uk-card uk-card-default uk-box-shadow-xlarge">
        <div class="uk-card-media-top">
          <img src="{{ payment.imagepath }}" alt="" height='300'>
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title left uk-box-shadow-small uk-text-uppercase blue-grey-text darken-4 uk-text-bold">{{
            payment.name }}
            <span class="blue-grey-text darken-3">
              &#8358; {{ payment.price }}</span></h3>
          <a class="right btn-floating btn-large waves-effect waves-light  deep-orange accent-4 uk-box-shadow-xlarge"
            routerLink="/payment"></a>
          <i class="fa fa-cart-plus" style="color: white;"></i>
        </div>
      </div>
    </div>
  </div>
</div>
 -->





<div class="html">
  <div class="container ">
    <h2 class="uk-text-left uk-text-uppercase flow-text uk-text-bold blue-grey-text darken-4">Buy the {{
      payment.name }} to get the Voucher code</h2>
    <div class="uk-child-width-1-2@m" uk-grid>
      <div>
        <div class="uk-card uk-card-default uk-box-shadow-xlarge">
          <div class="uk-card-media-top">
            <img src="{{ payment.imagepath }}" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title left uk-box-shadow-small uk-text-uppercase blue-grey-text darken-4 uk-text-bold">{{
              payment.name }}
              <span class="blue-grey-text darken-3">
                &#8358; {{ payment.price }}</span></h3><br>
            <a class="right btn-floating btn-large waves-effect waves-light  green accent-4 uk-box-shadow-xlarge"
              (click)="navigate()">
              <i class="fa fa-cart-plus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
