<app-header></app-header>
<div class=" ">
  <div class="container">
    <div class="uk-container uk-container-small">
      <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
          <div class="uk-padding">
            <img class="uk-border-circle" src="../../assets/public/image/user.png" width="300" height="300" alt="Profile Pictures">
          </div>
        </div>
        <div>
          <div style="padding-top: 4%;">
            <br>
            <br>
            <br>
            <div class="collection">
              <a href="#!" class="collection-item"><span class="new badge blue-grey darken-4">4</span>Alan</a>
              <a href="#!" class="collection-item"><span class="new badge blue-grey darken-4">4</span>Alan</a>
              <a href="#!" class="collection-item"><span class="new badge blue-grey darken-4">4</span>Alan</a>
              <a href="#!" class="collection-item"><span class="new badge blue-grey darken-4">4</span>Alan</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
