<app-header></app-header>
<div class="html">
  <div class="container ">
    <h2 class="uk-text-center uk-text-uppercase flow-text uk-text-bold blue-grey-text darken-4">New Voucher Available
      for
      sell</h2>
    <div class="uk-child-width-1-2@m" uk-grid>
      <div *ngFor="let Voucher of Vouchers">
        <div class="uk-card uk-card-default uk-box-shadow-xlarge">
          <div class="uk-card-media-top">
            <img src="{{ Voucher.imagepath }}" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title left uk-box-shadow-small uk-text-uppercase blue-grey-text darken-4 uk-text-bold">{{
              Voucher.name }}
              <span class="blue-grey-text darken-3">
                &#8358; {{ Voucher.price }}</span></h3>
            <a class="right btn-floating btn-large waves-effect waves-light  green accent-4 uk-box-shadow-xlarge"
              (click)="navigate(Voucher.id, Voucher.name, Voucher.price, Voucher.imagepath)">
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
