/* 
.uk-background {
  background: url("../../assets/public/image/bg1 (4).jpg") no-repeat center fixed;
  background-size: cover;
  background-attachment: fixed;
  height: 40vh;
} */
/* .html {
  background: url("../../assets/public/image/bg.jpg") no-repeat center fixed;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  background-blend-mode: darken;
  background-color: #90a4ae;
} */

/* .html {
  background: url("../../assets/public/image/bg.jpg") no-repeat center fixed;
  background-size: cover;
  background-attachment: fixed;
} */
